 #container{
	text-align:center;
	border:2px solid blue;
	height: 500px;
	width:600px;
	margin:0 auto;
	border-radius: 15px;
	background-color:#92ED6B;
	color:#2B8E00;
	font-family:Castellar;
	font-weight: 700;
	letter-spacing:2px;
}
ul{
	list-style: none;
}
form{
	float:left;
	text-align: left;
}
.remove{
	width:10px;
	height: 10px;
	margin-right: 10px;
	
}
.input{
	float:right;
}
br{
	color:yellow;
}



